@import '../../assets/styles/base';

.setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  margin: 20px auto;
  padding: 20px;
  width: 600px;
}

.setup-form {
  width: 200px;
}

.form-group {
  margin-bottom: 10px;

  input {
    width: 100px;
  }
}

.setup-submit {
  width: 100%;
}
