.railway {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

text {
  font-size: 1.2rem;
}

line {
  stroke-width: 6;

  &.move-front {
    stroke-dasharray: 5;
    animation: move 0.5s infinite linear;
  }

  &.move-back {
    stroke-dasharray: 5;
    animation: move 0.5s infinite linear reverse;
  }
}

@keyframes move {
  to {
    stroke-dashoffset: -10;
  }
}

// Station styles
$station-size: 26px;

.station-item {
  position: absolute;
  color: inherit;
  background: inherit;
  width: $station-size;
  height: $station-size;
  border-radius: $station-size;
  transform: translate(-50%, -50%);
  border: 4px solid;
  box-sizing: border-box;
  z-index: 1;

  &.active {
    z-index: 2;
    background: white;
  }

  &.blink {
    z-index: 3;
    animation: blink 0.3s infinite alternate ease-in-out;
  }

  &.is-crossing {
    background: white;
    border-color: black;

    &.active,
    &.blink {
      border-color: inherit;
    }
  }
}

@keyframes blink {
  from {
    background: inherit;
  }
  to {
    background: white;
  }
}
