// General ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$radius: 10px;
$shadow: 0px 4px 8px rgba(black, 0.3);

// Colors :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$alpha: darken(cornflowerblue, 10);
$outline-color: $alpha;
$bg-color: #f0f0f0;

// Gray scale
$gray-darker: #111;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #ccc;

// Typography :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$font-family: 'Ubuntu', 'Droid Sans', sans-serif;
$font-color: $gray;
$font-size: 1rem;

// Forms ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$field-height: 45px;
